table, th, td {
    border: 1px solid;
  }

  h1, h3, p {
    text-align: center;
  }

  body {
    background-color: lightblue;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Rounded border */
  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }

  
