table, th, td {
    border: 1px solid;
  }

  h1, h3, p {
    text-align: center;
  }

  body {
    background-color: lightblue;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  /* Below is the <hr class="rounded"> CSS
  /* Dashed border */
hr.dashed {
    border-top: 3px dashed #bbb;
  }
  
  /* Dotted border */
  hr.dotted {
    border-top: 3px dotted #bbb;
  }
  
  /* Solid border */
  hr.solid {
    border-top: 3px solid #bbb;
  }
  
  /* Rounded border */
  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }

  
